{% extends "layout.html" %}

{% block body %}
<div id="wrap">
  <h1>CIFEr 2014 Hedge Fund Tournament</h1>
  <table class="info-table">
    <tbody>
      <tr>
        <th>&nbsp;</th>
        <th colspan="2">Portfolio</th>
        <th colspan="2">Market</th>
      </tr>
      <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Value</th>
        <th>Bid</th>
        <th>Ask</th>
      </tr>
      {% for stock in stocks %}
      <tr>
        <td>{{ stock.symbol }}</td>
        <td>0</td>
        <td>0</td>
        <td>{{ stock.bid }}</td>
        <td>{{ stock.ask }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><form method=post><button type=submit name=action value=logout>Sign Out</button></form></p>
  <p>27 March 2014, 04:15:37</p>
  <h2>Trade</h2>
  <table class="trade-table">
    <tbody>
      <tr>
        <td>Symbol:</td>
        <td>
          <select>
            {% for stock in stocks %}
            <option value="">{{ stock.symbol }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>Quantity:</td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td>Action:</td>
        <td>
          <table class="action-table">
            <tbody>
              <tr>
                <th>Type</th>
                <th>Transaction Cost</th>
              </tr>
              <tr>
                <td><input type="radio" name="trade-action"> Buy</td>
                <td>0.004</td>
              </tr>
              <tr>
                <td><input type="radio" name="trade-action"> Short</td>
                <td>0.004</td>
              </tr>
              <tr>
                <td><input type="radio" name="trade-action"> SellShort</td>
                <td>0.01</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><button>Submit</button></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
