{% extends "layout.html" %}

{% block body %}
<div id="wrap">
  <h1>CIFEr 2014 Hedge Fund Tournament</h1>
  <table class="info-table">
    <tbody>
      <tr>
        <th>&nbsp;</th>
        <th colspan="2">Portfolio</th>
        <th colspan="2">Market</th>
      </tr>
      <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Value</th>
        <th>Bid</th>
        <th>Ask</th>
      </tr>
      {% for stock in stocks %}
      <tr>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.shares }}</td>
        <td>{{ stock.value }}</td>
        <td>{{ "%.2f" | format(stock.bid) }}</td>
        <td>{{ "%.2f" | format(stock.ask) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>{{ user.email }}: ${{ "%.2f" | format(user.cash) }}</p>
  <form method=post>
    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <button type=submit name=action value=logout>Sign Out</button></form>
  <p>27 March 2014, 04:15:37</p>
  <h2>Trade</h2>
  <form method=post>
    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <table class="trade-table">
      <tbody>
        <tr>
          <td>{{ tradeform.trade_stock.label }}</td>
          <td>{{ tradeform.trade_stock }}</td>
        </tr>
        <tr>
          <td>{{ tradeform.trade_qty.label }}</td>
          <td>{{ tradeform.trade_qty }}</td>
        </tr>
        <tr>
          <td>{{ tradeform.trade_position.label }}</td>
          <td>{{ tradeform.trade_position }}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><button type=submit name=action value=trade>Submit</button></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
{% endblock %}
