{% extends "layout.html" %}

{% block left %}
<p>{{ user.email }}</p>
<form method=post>
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <button type=submit name=action value=logout>Sign Out</button></form>
<p>Date: {{ " " }}{{ date }}</p>
<p>Cash: ${{ "%.2f" | format(user.cash) }}</p>

<h2>Trade</h2>
<form id="tradeform" method=post>
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div style="display:none">{{ tradeform.trade_asset }}</div>
  <table class="trade-table">
    <tbody>
      <tr>
        <td>Asset</td>
        <td id="trade_asset_name">(none selected)</td>
      </tr>
      <tr>
        <td>{{ tradeform.trade_qty.label }}</td>
        <td>{{ tradeform.trade_qty(style="width:90px") }}</td>
      </tr>
      <tr>
        <td>Action</td>
        <td>{{ tradeform.trade_position }}</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><button type=submit name=action value=trade>Submit</button></td>
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}

{% block right %}
<h2>Tracking Errors</h2>
{% if terrors %}
<table>
  <tbody>
  {% for terror in terrors %}
    <tr>
      <td>{{ terror[0] }}:</td>
      <td>{{ "%.4f" | format(terror[1]) }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>No data.</p>
{% endif %}

<h2>Transactions</h2>
{% if transactions %}
<table>
  <tbody>
  {% for t in transactions %}
    <tr>
      <td>{{ t.date }}:</td>
      <td>{{ t.qty }} shares for {{ t.value }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>No data.</p>
{% endif %}
{% endblock %}

{% block info %}
<tr class="merged">
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th colspan="2">Market</th>
  <th colspan="2">Portfolio</th>
</tr>
<tr>
  <th>Symbol</th>
  <th>Sector</th>
  <th>Asset</th>
  <th>Bid</th>
  <th>Ask</th>
  <th>Shares</th>
  <th>Value</th>
</tr>
{% endblock %}
