<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="CIFEr 2014 Hedge Fund Tournament">
  <meta name="author" content="University of Virginia">
  <title>CIFEr 2014 Hedge Fund Tournament</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="top">
<div id="wrap">
  <div class="left-sidebar">
    <h1>CIFEr</h1>
    {% block left %}{% endblock %}

    {% if user %}
    <p><em>Grayed out assets are illiquid and cannot be traded during the contest.</em></p>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  <div class="main">
    {% if user %}
    <h2>{{ user.first_name + " " + user.last_name }}'s Portfolio</h2>
    <div class="content">
      <table class="portfolio-table">
        <tbody>
          <tr>
            <th>Symbol</th>
            <th>Asset</th>
            <th>Shares</th>
            <th>Value</th>
          </tr>
        </tbody>
      </table>
    </div>
    {% endif %}

    <h2>Stock Market</h2>
    <div class="content">
      <table class="stock-table">
        <tbody>
          <tr>
            <th>Symbol</th>
            <th>Sector</th>
            <th>Bid Price</th>
            <th>Ask Price</th>
          </tr>
        </tbody>
      </table>
    </div>

    <h2>Options Market</h2>
    <div class="content">
      <table class="option-table">
        <tbody>
          <tr>
            <th>Symbol</th>
            <th>Type</th>
            <th>Strike Price</th>
            <th>Bid Price</th>
            <th>Ask Price</th>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="footer">&copy; 2014 University of Virginia</p>
  </div>
  <div class="right-sidebar">
    {% block right %}{% endblock %}
  </div>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-scrolltofixed-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='underscore-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='backbone-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='raphael-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='g.raphael-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='g.line-min.js') }}"></script>
<script>{{ js | safe }}</script>
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-46202029-1','cifer-competition.herokuapp.com');ga('send','pageview');</script>
</body>
