{% extends "layout.html" %}

{% block body %}
<div id="wrap">
  <form method=post>
    {{ loginform.hidden_tag() }}
    <table>
      <tbody>
        <tr>
          <td>{{ loginform.email.label }}</td>
          <td>{{ loginform.email }}</td>
        </tr>
        <tr>
          <td>{{ loginform.password.label }}</td>
          <td>{{ loginform.password }}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><button type=submit name=action value=login>Sign In</button></td>
        </tr>
      </tbody>
    </table>
  </form>

  <form method=post>
    {{ registrationform.hidden_tag() }}
    <table>
      <tbody>
        <tr>
          <td>{{ registrationform.email.label }}</td>
          <td>{{ registrationform.email }}</td>
        </tr>
        <tr>
          <td>{{ registrationform.password.label }}</td>
          <td>{{ registrationform.password }}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><button type=submit name=action value=register>Register</button></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
{% endblock %}
