{% extends "layout.html" %}

{% block body %}
<div id="wrap">
  <form method=post>
    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <table>
      <tbody>
        <tr>
          <td>{{ loginform.login_email.label }}</td>
          <td>{{ loginform.login_email }}</td>
        </tr>
        <tr>
          <td>{{ loginform.login_password.label }}</td>
          <td>{{ loginform.login_password }}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><button type=submit name=action value=login>Sign In</button></td>
        </tr>
      </tbody>
    </table>
  </form>

  <form method=post>
    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <table>
      <tbody>
        <tr>
          <td>{{ regform.reg_email.label }}</td>
          <td>{{ regform.reg_email }}</td>
        </tr>
        <tr>
          <td>{{ regform.reg_first.label }}</td>
          <td>{{ regform.reg_first }}</td>
        </tr>
        <tr>
          <td>{{ regform.reg_last.label }}</td>
          <td>{{ regform.reg_last }}</td>
        </tr>
        <tr>
          <td>{{ regform.reg_institution.label }}</td>
          <td>{{ regform.reg_institution }}</td>
        </tr>
        <tr>
          <td>{{ regform.reg_password.label }}</td>
          <td>{{ regform.reg_password }}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><button type=submit name=action value=register>Register</button></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
{% endblock %}
